{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="ru"{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='mystile.css')}}">
{% endblock %}

<!--<body onload="brython()">-->
{% block title %}
Комбинатор взаимоисключающих параметров
{% endblock %}

{% block content %}
<body onload="brython()">
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}
{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython_stdlib.js"></script>
<script src="{{url_for('static', filename='custom.js')}}"></script>
<script type ='text/python' src="{{url_for('static', filename='brscript.py')}}"></script>
{% endblock %}